//
//  development.xcconfig
//  Promise
//
//  Created by dylan on 2023/06/05.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Promise/Pods-Promise.debug (development).xcconfig"
#include "Pods/Target Support Files/Pods-Promise/Pods-Promise.release (development).xcconfig"

APP_ENV = development
API_URL = http:/$()/localhost:3003/api/greet
